#right
{
    width: 100%;
    height:1000px;
    position:absolute;
    left: 0%;
    top: 0%;
    background-color:;
}
form
{
    width:65%;
    height:1000px;
    position:absolute;
    left:17.5%;
    top: 0%;
    background-color:#00283a;
    
}

form hr
{
	position:absolute;
	top: 20%;
	left: 0%;
	width: 100%;

}
table
{
	width: 80%;
	height:700px;
	position: absolute;
	top:250px;
	left: 15%;

}